 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
            background-color: white;
}
.nav{
            justify-content: space-between;
            background-color: aliceblue;
            padding: 0px;
            display: inline-block;
            width: 500px;
            height: 500px;
            }
img{
            float: left;
            height: 160px;
            width: 200px;
            margin-left: 20%;
            }
.link li a{
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s ease;
            color: black;
            list-style: none;
            margin-right: 3rem;
            margin-top: 0rem;
            display: inline-block;
            margin-bottom: 0rem;
        }

.link li a:hover{
            color: aliceblue;
        }
.link{
            list-style: none;
            margin: 0px;
            padding: 0%;
            gap: 20px;
            text-align: center;
            font-weight: bold;
            margin-top: 30px;
            display: flex;
        }
#note, #ria{
            width: 15px;
            height: 15px;
            top: 35px;
            right: 0rem;
            display: inline-block;
            margin-left: 0rem;
            margin-right: 0rem;
        }
.link li {
        margin: 0rem;
        font-size: xx-small;
        }
#tia{
    width: 200px;
    margin-left: 450px;
    height: 50px;
    margin-right: 2rem;
}
li{
    display: inline-block;
    position: relative;
    right: 0px;
    font-size: xx-small;
}
.logo{
    right: 0rem;
    position: relative;
    bottom: 0rem;
    gap: 2rem;

}
#ri{
    display: inline-block;
    position: absolute;
}
.in{
    height: 55px;
    width: 130px;
    background-color: midnightblue;
    border-radius: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 20px;
}
.in p{
    color: azure;
    margin: 0px;
    font-size: 17px;
    margin-right: 0px;
    position: relative;
    align-items: center;
}
#profile{
    width: 42px;
    position: absolute;
    height: 42px;
    border-radius: 50%;
    right: 0px;
    margin-right: 96px;
}
.re{
    display: inline-block;
    position: relative;
    top: 0px;
    left: 50px;
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.charge{
    display: inline-block;
    position: absolute;
    left: 450px;
    top: 300px;

    }

.ar{
display: inline-block;
position: relative;
top: 0px;
right: 350px;
width: 100px;
height: 100px;
margin-right: 50px;

}

.cars{
    display: inline-block;
    position: absolute;
    left: 600px;
    top: 300px;
}
.th{
    display: inline-block;
    position: relative;
    top: 15px;
    right: 750px;
    width: 100px;
    height: 100px;

    margin-right: 50px;
}
.dth{
    display: inline-block;
    position: absolute;
    left: 730px;
    top: 300px;
}

.vi{
    display: inline-block;
    position: relative;
    bottom: 85px;
    right: 10px;
    width: 100px;
    height: 100px;
    left: 450px;
    margin-right: 100px;
}
.view{
    display: inline-block;
    position: absolute;
    left: 850px;
    top: 300px;
}

.p{
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    color: black;
    left: 510px;
}
.white{
            display: inline-block;
            background-color: aqua;
            border-radius: 30%;
            position: relative;
            width: 400px;
            height: 350px;
            top: 0px;
            left: 500px;
}